<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.movilix"
    android:installLocation="auto"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="replace" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application

        android:name="com.movilix.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme_torrent"
        android:requestLegacyExternalStorage="true"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
        android:hardwareAccelerated="true"
        android:banner="@mipmap/ic_launcher"
        >
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.movilix.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.movilix.MovieDetails"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <receiver android:name="com.movilix.services.conReceier">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5352807275972338~5455576278"/>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

<!--    Torrent Activities    -->

        <activity android:name="com.movilix.torrant.ui.main.MainActivity"
            android:theme="@style/AppTheme.Launcher"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>


            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:exported="true"
            android:name="com.movilix.torrant.ui.addtorrent.AddTorrentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="application/x-bittorrent" android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:pathPattern=".*\\.torrent" android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="application/x-bittorrent" android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:pathPattern=".*\\.torrent" android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:pathPattern=".*\\.torrent" android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:pathPattern=".*\\.torrent" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.torrent" android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.torrent" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="application/x-bittorrent" android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:mimeType="application/x-bittorrent" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="magnet" />
            </intent-filter>
        </activity>

        <activity android:name="com.movilix.torrant.ui.filemanager.FileManagerDialog"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.detailtorrent.DetailTorrentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.movilix.torrant.ui.SendTextToClipboard"
            android:label="@string/send_text_to_clipboard"
            android:icon="@drawable/ic_content_copy_grey600_48dp"
            android:theme="@android:style/Theme.NoDisplay"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity android:name="com.movilix.torrant.ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.movilix.torrant.ui.settings.PreferenceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="com.movilix.torrant.ui.errorreport.ErrorReportActivity"
            android:theme="@style/AppTheme.Translucent"
            android:process=":acra"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.feeds.FeedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.feeditems.FeedItemsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.addfeed.AddFeedActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:scheme="http"  android:host="*" android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:scheme="http" android:host="*" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:scheme="https" android:host="*" android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />
                <data android:scheme="https" android:host="*" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.createtorrent.CreateTorrentActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.addlink.AddLinkActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.log.LogActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.log.LogSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.addtag.AddTagActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:label="@string/app_name"
            android:name="com.movilix.torrant.ui.tag.SelectTagActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.movilix.torrant.service.TorrentService"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.movilix.torrant.receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.proninyaroslav.libretorrent.receivers.NotificationReceiver.NOTIFY_ACTION_SHUTDOWN_APP" />
                <action android:name="org.proninyaroslav.libretorrent.receivers.NotificationReceiver.NOTIFY_ACTION_ADD_TORRENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.movilix.torrant.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.movilix.torrant.receiver.SchedulerReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

</manifest>